<div class="data-container mt-5">
  <div class="row">
    <div class="col">
      <div class="data-container-global">
        <div class="row">
          <div class="col-md-8 offset-2">
            <div class="row">
              <div class="col">
                <div class="card">
                  <h2>Global report <img src="assets/imgs/globe.gif" alt="rotating globe" class="globe"></h2>
                  <table class="table global-table">
                    <tbody>
                      <tr>
                        <td>Cases:</td>
                        <td>{{covid.cases}}</td>
                      </tr>
                      <tr>
                        <td>Today cases:</td>
                        <td>{{covid.todayCases}}</td>
                      </tr>
                      <tr>
                        <td>Deaths:</td>
                        <td>{{covid.deaths}}</td>
                      </tr>
                      <tr>
                        <td>Total recovered:</td>
                        <td>{{covid.recovered}}</td>
                      </tr>
                      <tr>
                        <td>Today recovered:</td>
                        <td>{{covid.todayRecovered}}</td>
                      </tr>
                    </tbody>
                  </table>
                </div>
              </div>
            </div>
          </div>
        </div>
      </div>
    </div>
  </div>

  <div class="row">
    <div class="col-12 col-md-6">
      <div class="card mt-5">
        <div class="card-body">
          <div class="data-container-continent">
            <div class="row">
              <div class="col-12 col-md-auto">
                <h2>Search for continent</h2>
              </div>
              <div class="col-12 col-md-4">
                <select name="continent-covid" id="continent-covid" (change)="searchContinentCovid($event)"
                  class="form-control continent-select mb-2">
                  <option value="select-option">Select option</option>
                  <option [value]="continent.value" *ngFor="let continent of continents">{{continent.value | titlecase}}
                  </option>
                </select>
              </div>
            </div>
            <div *ngIf="showContinentsReport" class="row">
              <div class="col">
                <table class="table continents-table">
                  <tbody>
                    <tr>
                      <td>Cases:</td>
                      <td>{{continentsCovid.cases}}</td>
                    </tr>
                    <tr>
                      <td>Today cases:</td>
                      <td>{{continentsCovid.todayCases}}</td>
                    </tr>
                    <tr>
                      <td>Deaths:</td>
                      <td>{{continentsCovid.deaths}}</td>
                    </tr>
                    <tr>
                      <td>Total recovered:</td>
                      <td>{{continentsCovid.recovered}}</td>
                    </tr>
                    <tr>
                      <td>Today recovered:</td>
                      <td>{{continentsCovid.todayRecovered}}</td>
                    </tr>
                    <tr>
                      <td>Critical per one million:</td>
                      <td [ngClass]="covidRiskContinent">{{continentsCovid.criticalPerOneMillion}}</td>
                    </tr>
                  </tbody>
                </table>
                <div *ngIf="showApiError">
                  {{apiError.error.message}}
                </div>
              </div>
            </div>
          </div>
        </div>
      </div>
    </div>
    <div class="col-12 col-md-6">
      <div class="card mt-5">
        <div class="card-body">
          <div class="data-container-country">
          <div class="row">
            <div class="col-12 col-md-auto">
              <h2>Search for country</h2>
            </div>
            <div class="col-12 col-md-4">
              <form (ngSubmit)="searchCountryCovid()" [formGroup]="countryCovidForm" class="search-country">
                <input name="country-covid" id="country-covid"
                  class="form-control mb-2 search-country-input" formControlName="inputCountry" placeholder="italy, peru, usa..." />
                  <button type="submit" class="search-country-button" [disabled]="countryCovidForm.get('inputCountry').value.length<3">
                    <fa-icon [icon]="faSearch"></fa-icon>
                  </button>
              </form>
            </div>
          </div>
          <div *ngIf="showCountryReport" class="row">
            <div class="col">
              <table class="table country-table">
                <tbody>
                  <tr>
                    <td>Cases:</td>
                    <td>{{countryCovid.cases}}</td>
                  </tr>
                  <tr>
                    <td>Today cases:</td>
                    <td>{{countryCovid.todayCases}}</td>
                  </tr>
                  <tr>
                    <td>Deaths:</td>
                    <td>{{countryCovid.deaths}}</td>
                  </tr>
                  <tr>
                    <td>Total recovered:</td>
                    <td>{{countryCovid.recovered}}</td>
                  </tr>
                  <tr>
                    <td>Today recovered:</td>
                    <td>{{countryCovid.todayRecovered}}</td>
                  </tr>
                  <tr>
                    <td>Critical per one million:</td>
                    <td [ngClass]="covidRiskCountry">{{countryCovid.criticalPerOneMillion}}</td>
                  </tr>
                </tbody>
              </table>
              <div *ngIf="showApiError">
                {{apiError.error.message}}
              </div>
            </div>
          </div>
        </div>
      </div>      
    </div>
  </div>
</div>
