.data-container {

  .continent-select {
    box-shadow: none;
    outline: none;
    
    &:focus {
      border: 1px solid #ced4da;
      outline: none;
    }
  }
  
  .table  {
    td {
      width: 100%;
    }
  }  
}  