.data-container {
  padding-bottom: 16px 0;
  margin-bottom: 24px;
  color: #555555;

  .card {
    // box-shadow: 0 0 8px 1px #00000061;
    box-shadow: 0 0 8px 1px #55555562;
    background-color: #fbf7f0;
  }

  .table {
    color: #555555;
    tr {
    
      td {
        width: 100%;
        font-size: 16px;
        &:not(:first-child) {
          font-weight: bold;
        }
        &.low-risk {
          color: green;
        }

        &.medium-risk {
          color: orange;
        }

        &.high-risk {
          color: red;
        }
      }
    }
  }
  
  &-continent {
    .continent-select {
      box-shadow: none;
      position: relative;
      top: 1px;
      outline: none;
      border-color: #cdc9c3;
      background-color: #fbf7f0;
      
      &:focus {
        border: 1px solid #ced4da;
        outline: none;
      }
    }
  }

  &-country {
    .search-country {
      &-input {
        background-color: #fbf7f0;
        border-color: #cdc9c3;
      }
      &-button {
        outline: none;
        position: absolute;
        top: 4px;
        right: 4px;
        border: none;
        background: none;
        img {
          width: 16px;
        }
      }
    }
  }

  &-global {
    h2 {
      text-align: center;
      margin-top: 16px;
      margin-bottom: 8px;
      .globe {
        bottom: 2px;
        position:relative;
        width: 50px;
      }
    }
  }

  @media(min-width: 768px) {
    &-country,
    &-continent {
      .col-md-4 {
        padding-right: 0;
        margin-right: 0;
        position: absolute;
        right: 15px;
      }
    }
  }
}  