<div class="data-container mt-5">
  <div class="row">
    <div class="col">
      <div class="data-container-global">
        <div class="row">
          <div class="col-12 col-lg-8 offset-lg-2">
            <div class="card">
              <h2>Global report <img src="assets/imgs/globe-spin.gif" alt="rotating globe" class="globe"></h2>
              <table class="table global-table">
                    <tbody>
                      <tr>
                        <td>Cases:</td>
                        <td>{{gloablCovid.cases}}</td>
                      </tr>
                      <tr>
                        <td>Today cases:</td>
                        <td>{{gloablCovid.todayCases}}</td>
                      </tr>
                      <tr>
                        <td>Deaths:</td>
                        <td>{{gloablCovid.deaths}}</td>
                      </tr>
                      <tr>
                        <td>Today deaths:</td>
                        <td>{{gloablCovid.todayDeaths}}</td>
                      </tr>
                      <tr>
                        <td>Recovered:</td>
                        <td>{{gloablCovid.recovered}}</td>
                      </tr>
                      <tr>
                        <td>Today recovered:</td>
                        <td>{{gloablCovid.todayRecovered}}</td>
                      </tr>
                    </tbody>
              </table>
            </div>
          </div>
        </div>
      </div>
    </div>
  </div>
  <div class="row">
    <div class="col-12 col-lg-8 col-xl-6 offset-lg-2 offset-xl-3">
      <div class="card mt-5">
        <div class="card-body">
          <div class="data-container-continent">
            <div class="row data-container-continent-fields">
              <div class="col-12 col-md-auto data-container-continent-fields-title">
                <h2>Search by continent</h2>
              </div>
              <div class="col-12 col-md-4 data-container-continent-fields-select">
                <select name="continent-covid" id="continent-covid" (change)="searchContinentCovid($event)"
                  class="form-control continent-select">
                  <option value="select-option">Select option</option>
                  <option [value]="continent.value" *ngFor="let continent of continents">{{continent.value | titlecase}}
                  </option>
                </select>
              </div>
            </div>
            <div *ngIf="showContinentsReport" class="row">
              <div class="col">
                <table class="table continents-table">
                  <tbody>
                    <tr>
                      <td>Cases:</td>
                      <td>{{continentsCovid.cases}}</td>
                    </tr>
                    <tr>
                      <td>Today cases:</td>
                      <td>{{continentsCovid.todayCases}}</td>
                    </tr>
                    <tr>
                      <td>Deaths:</td>
                      <td>{{continentsCovid.deaths}}</td>
                    </tr>
                    <tr>
                      <td>Today deaths:</td>
                      <td>{{continentsCovid.todayDeaths}}</td>
                    </tr>
                    <tr>
                      <td>Recovered:</td>
                      <td>{{continentsCovid.recovered}}</td>
                    </tr>
                    <tr>
                      <td>Today recovered:</td>
                      <td>{{continentsCovid.todayRecovered}}</td>
                    </tr>
                    <tr>
                      <td>Critical per one million:</td>
                      <td [ngClass]="covidRiskContinent">{{continentsCovid.criticalPerOneMillion}}</td>
                    </tr>
                  </tbody>
                </table>
                <div *ngIf="showApiError">
                  {{apiError.error.message}}
                </div>
              </div>
            </div>
          </div>
        </div>
      </div>
    </div>
    <div class="col-12 col-lg-8 col-xl-6 offset-lg-2 offset-xl-3">
      <div class="card mt-5">
        <div class="card-body">
          <div class="data-container-country">
          <div class="row data-container-country-fields">
            <div class="col-12 col-md-auto data-container-country-fields-title">
              <h2>Search by country</h2>
            </div>
            <div class="col-12 col-md-4 data-container-country-fields-input">
              <form (ngSubmit)="searchCountryCovid()" [formGroup]="countryCovidForm" class="search-country">
                <input name="country-covid" id="country-covid"
                  class="form-control mb-2 search-country-input" formControlName="inputCountry" placeholder="italy, peru, usa..." />
                  <button type="submit" class="search-country-button" [disabled]="countryCovidForm.get('inputCountry').value.length<3">
                    <span><img src="../../assets/imgs/search.svg" alt="search icon"></span>
                  </button>
              </form>
            </div>
          </div>
          <div *ngIf="showCountryReport" class="row">
            <div class="col">
              <table class="table country-table">
                <tbody>
                  <tr>
                    <td>Cases:</td>
                    <td>{{countryCovid.cases}}</td>
                  </tr>
                  <tr>
                    <td>Today cases:</td>
                    <td>{{countryCovid.todayCases}}</td>
                  </tr>
                  <tr>
                    <td>Deaths:</td>
                    <td>{{countryCovid.deaths}}</td>
                  </tr>
                  <tr>
                    <td>Today deaths:</td>
                    <td>{{countryCovid.todayDeaths}}</td>
                  </tr>
                  <tr>
                    <td>Recovered:</td>
                    <td>{{countryCovid.recovered}}</td>
                  </tr>
                  <tr>
                    <td>Today recovered:</td>
                    <td>{{countryCovid.todayRecovered}}</td>
                  </tr>
                  <tr>
                    <td>Critical per one million:</td>
                    <td [ngClass]="covidRiskCountry">{{countryCovid.criticalPerOneMillion}}</td>
                  </tr>
                </tbody>
              </table>
              <div *ngIf="showApiError">
                {{apiError.error.message}}
              </div>
            </div>
          </div>
        </div>
      </div>      
    </div>
  </div>
</div>
