.data-container {

  .table {
    td {
      width: 100%;
    }
  }
  
  &-continent {
    .continent-select {
      box-shadow: none;
      outline: none;
      
      &:focus {
        border: 1px solid #ced4da;
        outline: none;
      }
    }
  }

  &-country {
    .search-country {
      &-button {
        outline: none;
        position: absolute;
        top: 7px;
        right: 0;
        border: none;
        background: none;
      }
    }
  }

  &-global {
    h2 {
      text-align: center;
      .globe {
        width: 80px;
      }
    }
  }

  @media(min-width: 768px) {
    &-country,
    &-continent {
      .col-md-4 {
        padding-right: 0;
        margin-right: 0;
        position: absolute;
        right: 15px;
      }
    }
  }
}  