.app-container {
  .main-title {
    &-image {
      @media(max-width: 767px) {
        justify-content: center;
        display: flex;
      }

      .virus-img {
        width: 200px;
      }
    }

    &-text {
      display: flex;
      align-items: center;
      
      h1 {
        font-size: 3.1rem;
      }
      
      @media(max-width: 767px) {
        text-align: center;
      }
    }
  }
}
